@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 11pt;
       padding: 0;
       background: #fff;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .remove-container.container-block {
       display: none;
    }

    .print-cv-btn {
       display: none !important;
    }

    .wrapper {
       max-width: 100%;
       box-shadow: none;
    }

    .main-wrapper {
       padding: 24px;
       padding-right: 38%;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

}