@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  body {
    font-size: 9pt;
    background-color: white;
    padding: 0;
  }
  .wrapper {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .main-wrapper {
    padding: 30px;
    .section {
      margin-bottom: 20px;
    }
    .section-title {
      font-size: 14pt;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
    .experiences-section,
    .educations-section {
      .item {
        margin-bottom: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .main-wrapper .time {
    padding: 10px 30px 10px 10px;
    -webkit-print-color-adjust: exact;
  }
  .sidebar-wrapper {
    position: static;
    -webkit-print-color-adjust: exact;
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }

  .skillset,
  .container-block {
    break-inside: avoid;
  }

  .item {
    break-inside: avoid;
  }

  .skillset .level-bar-inner {
    background-color: $theme-color !important;
    -webkit-print-color-adjust: exact;
  }

  .fa-inverse,
  .fa-inverse:after,
  .fa-inverse:before {
    color: #ffffff !important;
  }

  /* Hide buttons when printing */
  .print-button,
  .pdf-button,
  .d-print-none {
    display: none !important;
  }
}
